# Python  
__pycache__/  
*.py[cod]  
*.egg-info/  
.venv/  
.env  
  
# Data and reports  
data/*/*.csv  
!data/raw/.gitkeep  
!data/processed/.gitkeep  
reports/  
!.gitkeep  
  
# OS/IDE  
.DS_Store  
.vscode/  
.idea/  
